* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

html {
    font-size: 1.1rem;
}

body {
    /* Do not forget about this*/
    padding: 2rem;
    color: #CCD0CF;
    line-height: 1.25;
    min-height: 100dvh;
    background-size: cover;
    font-family: 'mgsv-m', sans-serif;
    background-image: url("images/codec-background.png");
    /* filter: blur(200px); */
    /* transform: scale(1, 0); */
    /* animation: cubic-bezier(0, 0.35, 0.8, 1) codecopen 1s; */
    /* animation-fill-mode: forwards; */
}

#codec {
    color: #2A6A5C;
    max-width: 600px;
    position: relative;
    padding: 0rem 2rem 4rem 2rem;
    border: 0.09rem solid #61968C;
}

#codec::after {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(15, 24, 22, 0.15);
}

#codec-dialer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    /* background-color: #D43031; */
    padding: 0rem 2.5rem 2rem 2.5rem;
    border-top: 0.09rem solid #61968C;
}

.pointer-hover:hover {
    cursor: pointer;
}

.triangle-btn {
    font-size: 2.8rem;
}

.triangle-btn:hover {
    cursor: pointer;
    color: #479787;      
}

.mgs2-font {
    font-family: 'MGS2';
    letter-spacing: 0.25rem;

}

.mgsv-font {
    letter-spacing: 0.05rem;
    font-family: 'mgsv-m', sans-serif;
}

.mgsv-font.light {
    letter-spacing: 0.05rem;
    font-family: 'mgsv-l', sans-serif;
}

.ptt-font {
    font-family: 'PTT';
}

.codec-font {
    font-family: 'CODEC';
    transform: scale(1, 1.2);
    letter-spacing: 0.25rem;
}


.codec-gun {
    height: 10px;
    background: #1C4F48;
}

.codec-gun.one {
    width: 65%;
    margin-left: 0.5rem;
}

.codec-gun.one.n2, .codec-gun.two.n2, .codec-gun.three.n2, .codec-gun.four.n2, .codec-gun.six  {
    position: relative;
}

.codec-gun.one.n2::after {
    right: 0;
    bottom: 0;
    width: 35%;
    height: 60%;
    content: " ";
    position: absolute;
    border-top-left-radius: 2rem;
    background-image: url('./images/codec-background-2.png'), url("images/codec-background.png");
    background-blend-mode: color-dodge;
}

.codec-gun.two.n2::before {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    border-top: 7px solid #0E3835;
    border-left: 2px solid #0E3835;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
}

.codec-gun.two.n2::before, .codec-gun.three.n2::before, .codec-gun.four.n2::before {
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 4px solid #133936;
    border-right: 4px solid #133936;
}

.codec-gun.two {
    width: 65%;
}

.codec-gun.three {
    width: 60%;
}

.codec-gun.four {
    width: 55%;
}

.codec-gun.five {
    width: 50%;
}

.codec-gun.six {
    width: 40%;
}

.codec-gun.six::after {
    right: 0;
    bottom: 0;
    width: 30%;
    height: 60%;
    content: " ";
    position: absolute;
    background: #0E2F2B;
}

.turquoise {
    color: #479787;
}

.red {
    color: #D43031;
}

#song-image-container {
    min-width: 150px;
    max-width: 250px;
    padding: 0.15rem;
    aspect-ratio: 4/5;
    position: relative;
    justify-self: center;
    margin-right: 0.5rem;
    max-height: fit-content;
    border: 0.09rem solid #61968C;
}

#song-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/5;
    position: relative;
}

#song-image-container::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
    position: absolute;
    background: rgba(28, 61, 62, 0.35);
}

.song-details {
    max-width: 850px;
    position: relative;
    font-size: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    padding: 2rem 2rem 3rem 2rem;
    border-top: 0.15rem solid #61968C;
    background-image: url("images/codec-background-2.png")
}

.ls-05 {
    letter-spacing: 0.5rem;
}

.song-details p.icon {
    right: 0;
    bottom: 0;
    font-weight: 00; 
    position: absolute;
    margin-right: 1rem;
    font-size: 1.5em;
    margin-bottom: 0.75em;
}

.song-details span.icon {
    right: 0;
    bottom: 0;
    font-size: 1.5em;
    color: #61968C;
    font-weight: 400;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.song-details span.icon:hover {
    color: #CCD0CF;
    cursor: pointer;
}

.flex-box {
    display: flex;
}

.grid-box1 {
    display: grid;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(212, 48, 49, 0.1); */
    grid-template-columns: 250px minmax(400px, 600px);
    grid-template-columns: minmax(100px, 250px) minmax(400px, 600px);

}


.accept-call {
    color: #0E3835;
    font-weight: 800;
    font-size: 0.8em;
    padding: 0.65em 1.5em;
    background: #31DD8A;
}

.optional-call {
    color: #0E3835;
    font-weight: 800;
    font-size: 0.8em;
    padding: 0.65em 1.5em;
    background: #85CDCF;
}

.reject-call {
    color: #0E3835;
    font-weight: 800;
    font-size: 0.8em;
    background: #D43031;
    padding: 0.65em 1.5em;
}

.small-font {
    font-size: 0.9em;
}

.small10-font {
    font-size: 1em;
}

.med-font {
    font-size: 1.3em;
    /* font-weight: 500; */
}

.big-font {
    font-size: 1.75em;
}

.mlp05 {
    margin-left: 0.5rem;
}

.mtp025 {
    margin-top: 0.25rem
}

.mtp035 {
    margin-top: 0.35rem;
}

.mtp05 {
    margin-top: 0.5rem;
}

.mtp075 {
    margin-top: 0.75rem;
}

.mtp10 {
    margin-top: 1rem;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.song-freqrecord {
    display: flex;
    padding-bottom: 1rem;
    position: relative;
    justify-content: space-between;
    border-bottom: 2px solid #212824;
}


.black-filter {
    top: 0;
    left: 0;
    content: " ";
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(14, 20, 19, 0.35);
}

@keyframes codecopen {
    0% {
        filter: blur(200px);
        transform: scale(1, 0);
    }

    50% {
        filter: blur(150px);
        transform: scale(1, 0.5);
    }

    80% {
        filter: blur(100px);
        transform: scale(1, 0.5);
    }

    90% {
        filter: blur(70px);
        transform: scale(1, 0.5);
    }
    
    100% {
        filter: blur(0px);
        transform: scale(1, 1);
    }
}

@font-face {
    font-family: 'CODEC';
    src: url("fonts/CODEC.ttf");
}

@font-face {
    font-family: 'MGS2';
    src: url('fonts/MGS2.ttf');
}

@font-face {
    font-family: 'MGSV-l';
    src: url('fonts/MGSV-light.ttf');
}

@font-face {
    font-family: 'MGSV-m';
    src: url('fonts/MGSV-medic.otf');
}

@font-face {
    font-family: 'PTT';
    src: url('fonts/PTT.otf');
}

@media (max-width: 1000px) {
    html { font-size: 1.05rem; }
}

@media (max-width: 900px) {
    html { font-size: 1rem; }
}

@media (max-width: 700px) {
    html { font-size: 0.9rem; }

    .grid-box1 {
        grid-template-columns: 3fr 7fr;
    }
}

@media (max-width: 550px) {
    .grid-box1 {
        grid-template-columns: 1fr; 
        justify-content: center;
    }
    
    #song-image-container {
        max-width: 180px;
    }
}

@media (max-width: 500px) {
    html { font-size: 0.85rem; }
}

@media (max-width: 400px) {
    html { font-size: 0.8rem; }
}

@media (max-width: 350px) {
    html { font-size: 0.7rem; }
}